<div class="row dashboard-background">
  <div class="dashboard-page col-md-10 col-md-offset-1">



    <!-- create a new bucket form -->
    <form class="create-bucket-form" action="/items" method="post">

      <div class="input-group create-bucketlist-title">
        <input type="text" class="form-control bucket-title" aria-label="Title" placeholder="BUCKET TITLE HERE" />
      </div>
      
      <div class="create-bucklist-footer">
        <button class="create-bucket-delete">CREATE BUCKET</button>
      </div>

    </form>



    <!-- generates a bucket form for each of the user's bucket -->
    <% @user.buckets.to_a.sort { |a,b| b.created_at <=> a.created_at }.each do |bucket| %>
      <form class="bucket-form" action="/bucket/update" data-bucketid=<%= bucket.id %> method="post">
          <%= erb :'dashboard/_bucket_form', locals: {bucket: bucket} %>
      </form>
    <% end %>



  </div>
</div>





<script>
  $('.btn_submit').click(function(ev){

    ev.preventDefault();

    var bucketID = $(this).closest('.bucket-form').data('bucketid');
    var itemID = $(this).closest('.input-group.item-field').data('id');
    var itemName = $(this).closest('.input-group.item-field').children('input').val();
    var requestMethod = $(this).data('method');
    var requestPath = $(this).data('path');
    var formdata = {"id": itemID, "name": itemName, "bucket_id": bucketID};

    $.ajax(`/items/${requestPath}`, {method: requestMethod, data: formdata})
      .done(function(result){
        window.location.href = "/dashboard";
    });
  });


  $('.submit_on_enter').keydown(function(ev) {
    if (event.keyCode == 13) {
      ev.preventDefault();
      var bucketID = $(this).closest('.bucket-form').data('bucketid');
      var itemID = $(this).closest('.input-group.item-field').data('id');
      var itemName = $(this).closest('.input-group.item-field').children('input').val();
      
      var requestMethod = $(this).data('method');
      var requestPath = $(this).data('path');
      var formdata = {"id": itemID, "name": itemName, "bucket_id": bucketID};

      $.ajax(`/items/${requestPath}`, {method: requestMethod, data: formdata})
        .done(function(result){

          window.location.href = "/dashboard";
      });
    }
  });


</script>