<div class="row dashboard-background">
  <div class="dashboard-page col-md-10 col-md-offset-1">

    <form class="create-bucket-form" action="/items" method="post">

      <div class="input-group create-bucketlist-title">
        <input type="text" class="form-control bucket-title" aria-label="Title" placeholder="BUCKET TITLE HERE" />
      </div>
      
      <div class="create-bucklist-footer">
        <button class="create-bucket-delete">CREATE BUCKET</button>
      </div>

    </form>

    <form class="bucket-form" action="/items" method="post">

      <div class="input-group bucketlist-title">
        <input type="text" class="form-control bucket-title" aria-label="Title" readonly/>
      </div>

      <div class="input-group new-item">
        <input type="text" class="form-control" placeholder="Add to your list" aria-label="New Item"/>
      </div>
        
      <div data-spy="scroll" class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="bucklist-footer">
        <button class="bucket-delete">DELETE BUCKET</button>
      </div>

    </form>

    <form class="bucket-form" action="/items" method="post">

      <div class="input-group bucketlist-title">
        <input type="text" class="form-control bucket-title" aria-label="Title" readonly/>
      </div>

      <div class="input-group new-item">
        <input type="text" class="form-control" placeholder="Add to your list" aria-label="New Item"/>
      </div>
        
      <div data-spy="scroll" class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="bucklist-footer">
        <button class="bucket-delete">DELETE BUCKET</button>
      </div>

    </form>

    <form class="bucket-form" action="/items" method="post">

      <div class="input-group bucketlist-title">
        <input type="text" class="form-control bucket-title" aria-label="Title" readonly/>
      </div>

      <div class="input-group new-item">
        <input type="text" class="form-control" placeholder="Add to your list" aria-label="New Item"/>
      </div>
        
      <div data-spy="scroll" class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="bucklist-footer">
        <button class="bucket-delete">DELETE BUCKET</button>
      </div>

    </form>

    <form class="bucket-form" action="/items" method="post">

      <div class="input-group bucketlist-title">
        <input type="text" class="form-control bucket-title" aria-label="Title" readonly/>
      </div>

      <div class="input-group new-item">
        <input type="text" class="form-control" placeholder="Add to your list" aria-label="New Item"/>
      </div>
        
      <div data-spy="scroll" class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

      <div class="bucklist-footer">
        <button class="bucket-delete">DELETE BUCKET</button>
      </div>

    </form>

  </div>
  
</div>