<div style="display: none;" class="delete-bucket">
  <div class="form">
    <form class="delete-bucket" action='/buckets/delete', method='post'>
      <p>Are you sure?</p>
      <input type="hidden" name="id" value="<%= params[:id] %>" />
      <button class="delete-bucket-btn">Yes, please delete!</button>
    </form>
  </div>
</div>


<div class="login-page" style="display: inline-block">

  <div>
    <div class="form">
      <form class="login-form" action='/buckets/new', method='post'>
        <input type="text" name="name" placeholder="Name your new bucket"/>
        <button>Create</button>
      </form>
    </div>
  </div>
</div>

<% @user.buckets.to_a.sort { |a,b| b.updated_at <=> a.updated_at }.each do |bucket| %>
<div class="dashboard-page col-md-10 col-md-offset-1">

  <form class="bucket-form" action="/items" method="post">

    <div class="input-group bucketlist-title">
      <input type="text" class="form-control bucket-title" aria-label="Title" placeholder="BUCKET NAME" readonly/>
    </div>

    <div class="input-group new-item">
      <input type="text" class="form-control" aria-label="New Item"/>
    </div>

    <div data-spy="scroll" class="input-group item-field">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default complete" aria-label="Complete">
          <span class="glyphicon glyphicon-ok-circle"></span>
        </button>
      </div>
      <input type="text" class="form-control" aria-label="Text input with multiple buttons"/>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default update" aria-label="Update">
          <span class="glyphicon glyphicon-upload"></span>
        </button>
        <button type="button" class="btn btn-default delete" aria-label="Delete">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </div>
    </div>

    <% bucket.items.to_a.sort { |a,b| b.updated_at <=> a.updated_at }.each do |item| %>
        
      <div class="input-group item-field">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default complete" aria-label="Complete">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </button>
        </div>
        <input type="text" class="form-control" aria-label="Text input with multiple buttons" value="<%= item.name %>"/>
        <div class="input-group-btn">
          <button type="button" class="btn btn-default update" aria-label="Update">
            <span class="glyphicon glyphicon-upload"></span>
          </button>
          <button type="button" class="btn btn-default delete" aria-label="Delete">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
        </div>
      </div>

    <% end %>

  </form>
</div>
            
<!-- 
    <form class="form" action="/buckets/update" method="post">
      <img src="../images/bucket.jpg" width="50" height="50" />
      <img src="../images/bucket.jpg" width="50" height="50" />
      <img src="../images/bucket.jpg" width="50" height="50" />
      <img src="../images/bucket.jpg" width="50" height="50" />
      <img src="../images/bucket.jpg" width="50" height="50" />
      <input type="hidden" name="id" value="<%= bucket.id %>" />
      <input type="button" class="delete-bucket-btn" value="delete" />
    </form> -->

  

<% end %>






<!--Pop up box to create a new button-->
<div style="display: none;" class="new-bucket">
  <div class="form">
    <form class="login-form" action='/buckets/new', method='post'>
      <input type="text" name="name" placeholder="Name your new bucket"/>
      <button>Create</button>
    </form>
  </div>
</div>