<div class="row friends-background">

  <!-- FRIENDS LIST SECTION -->
  <div class="friends-list-sidebar col-sm-4 col-xs-4">

    <!-- FRIENDS LIST TITLE -->
    <div class="friends-list-title col-sm-12">FRIENDS LIST</div>

    <!-- FRIENDS LIST SCROLL SECTION -->
    <div class="friends-scroll col-md-12">

      <!-- INDIVIDUAL FRIEND -->
      <div class="test col-md-12">LEONARDO
        <button type="button" class="btn btn-default invite" aria-label="Update">
          <span class="glyphicon glyphicon-send"></span>
        </button>
        <button type="button" class="btn btn-default delete-friend" aria-label="Delete">
          <span class="glyphicon glyphicon-remove-circle friends"></span>
        </button>
      </div>

      <div class="test col-md-12">DONATELLO
        <button type="button" class="btn btn-default invite" aria-label="Update">
          <span class="glyphicon glyphicon-send"></span>
        </button>
        <button type="button" class="btn btn-default delete-friend" aria-label="Delete">
          <span class="glyphicon glyphicon-remove-circle friends"></span>
        </button>
      </div>

      <div class="test col-md-12">MICHAELANGELO
        <button type="button" class="btn btn-default invite" aria-label="Update">
          <span class="glyphicon glyphicon-send"></span>
        </button>
        <button type="button" class="btn btn-default delete-friend" aria-label="Delete">
          <span class="glyphicon glyphicon-remove-circle friends"></span>
        </button>
      </div>

      <div class="test col-md-12">RAFAEL
        <button type="button" class="btn btn-default invite" aria-label="Update">
          <span class="glyphicon glyphicon-send"></span>
        </button>
        <button type="button" class="btn btn-default delete-friend" aria-label="Delete">
          <span class="glyphicon glyphicon-remove-circle friends"></span>
        </button>
      </div>

      <div class="test col-md-12">SPLINTER
        <button type="button" class="btn btn-default invite" aria-label="Update">
          <span class="glyphicon glyphicon-send"></span>
        </button>
        <button type="button" class="btn btn-default delete-friend" aria-label="Delete">
          <span class="glyphicon glyphicon-remove-circle friends"></span>
        </button>
      </div>

      <div class="test col-md-12">APRIL
        <button type="button" class="btn btn-default invite" aria-label="Update">
          <span class="glyphicon glyphicon-send"></span>
        </button>
        <button type="button" class="btn btn-default delete-friend" aria-label="Delete">
          <span class="glyphicon glyphicon-remove-circle friends"></span>
        </button>
      </div>

    </div>

  </div>

    <!-- FRIEND SEARCH SECTION -->
    <div class="search-friends col-sm-8 col-xs-8">

      <!-- FRIEND SEARCH FORM -->
      <form class="search-friends form" action="/items" method="post">

        <div class="input-group col-md-12">
          <input type="text" class="friend-search-field" placeholder="SEARCH FRIENDS" aria-label="search"/><img src="https://developers.google.com/places/documentation/images/powered-by-google-on-white.png"/>
        </div>
      </form>

    </div>

  </div>
  
</div>