<meta http-equiv="refresh" content="5;url=/friends" />

<div class="redirection-img">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-m-4 col-m-offset-4">
      <div class="redirect-message">
        <% if @result %>
          <h3>SEARCHING FOR <%= @result %>...</h3>
        <% else %>
          <h3>SEARCHING...</h3>
        <% end %>
        <h3>LET'S GO ON A DRIVE IN THE MEANTIME</h3>
      </div>
    </div>
  </div>
</div>