@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  padding-top: 20px;
  margin: 0px 0px 0px;
}

/* GENERIC */

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 25px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.form-control {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 20px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background: #c94e50;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* HEADER & FOOTER */

.navbar-inverse {
  padding: 15px;
  background-color: #2c3e50;
  border-bottom: transparent;
  font-size: 95%;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #ecf0f1;
}

.footer {
  background-color: #2c3e50;
  height: 70px;
}

.footer-text {
  padding: 10px 0px 0px;
  text-align: center;
  color: #bdc3c7;
}

.footer-quote {
  font-size: 110%;
  color: #ecf0f1;
}

/* HOME PAGE */

.main-img {
  width: 100%;
  min-height: 611px;
  max-height: 1000px;
}

.main-img::after {
  opacity: 0.65;
  content: "";
  background: url('../images/background.png') no-repeat center center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-page .form {
  margin-top: 150px;
}


/* DASHBOARD PAGE */

.dashboard-page {
  margin-top: 120px;
  margin-bottom: 0px;
}

/* BUCKETS */

.bucketlist-title {
  width: 100%;
  outline:none; 
  border:none; 
  border-style: none;
  border-bottom: 1px solid black; 
}


.form-control.bucket-title {
  font-family: "Roboto", sans-serif;
  background: transparent;
  width: 100%;
  border: 0;
  margin: 0 0 20px;
  font-size: 14px;
  outline:none; 
  border-style: none;
  box-shadow: none;
}

.new-item {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: none;
  width: 100%;
  border: 0;
  margin: 0 0 20px;
  box-sizing: border-box;
  font-size: 14px;
}

.bucket-form {
  height: 400px; 
  overflow-y: scroll;
  width: 100%;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 80px;
  margin-right: 80px;
  box-shadow: none;
  background-color: transparent;
  opacity: 1.0;
  padding: 20px;
  max-width: 450px;
  background: white;
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.item-field {
  margin-top: 10px;
}

/*BUCKET FORM BUTTONS */

.complete {
  background: #43A047;
}

.complete:hover {
  background: #4CAF50;
}

.update {
  background: #e6b800;
}

.update:hover {
  background: #ffcc00;
}

.delete {
  background: #cc0000;
}

.delete:hover {
  background: #e60000;
}


/* REGISTRATION PAGE */

.registration-page {
  padding-left: 50px;
}

.registration-page .form {
  box-shadow: none;
  background-color: transparent;
  opacity: 1.0;
}

.registration-page .form input {
  background-color: white;
}

.registration-title {
  margin-top: 50px;
  margin-bottom: 35px;
  padding-bottom: 10px;
  color: #2C3E50;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid #ffffff;
}

.registration-label {
  font-family: "Roboto", sans-serif;
  color: #2C3E50;
  margin-bottom: 20px;
  font-weight: bold;
}

.registration-img {
  width: 100%;
}

.registration-img::after {
  opacity: 0.40;
  content: "";
  background: url('../images/register.png') no-repeat center center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

/* SETTINGS PAGE */

.settings-page {
  margin-top: 30px;
  padding-left: 50px;
}

.settings-page .form {
  margin-bottom: 20px;
  box-shadow: none;
  background-color: transparent;
  opacity: 1.0;
}

.settings-page .form input {
  background-color: white;
}

.settings-title {
  margin-bottom: 35px;
  padding-bottom: 10px;
  color: #2C3E50;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid #ffffff;
}

.settings-label {
  font-family: "Roboto", sans-serif;
  color: #2C3E50;
  margin-bottom: 20px;
  font-weight: bold;
}

.settings-img {
  width: 100%;
}

.settings-img::after {
  opacity: 0.40;
  content: "";
  background: url('../images/settings.png') no-repeat center center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}