<div class="settings-img">

  <div class="col-md-4 col-md-offset-4 settings-page">
    <div class="form">
      <form class="settings-form">
        <h2 class="settings-title">SETTINGS</h2>
        <label class="settings-label">Update Username</label>
        <input type="text" placeholder="Username"/>
        <label class="settings-label">Update Password</label>
        <input type="text" placeholder="Old password"/>
        <input type="text" placeholder="New password"/>
        <input type="password" placeholder="Confirm password"/>
        <button>update</button>
      </form>
    </div>
  </div>

</div>