<div class="registration-img">
  <div class="row">

    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-m-4 col-m-offset-4 registration-page">
      <div class="form">
        <form class="registration-form">
          <h2 class="registration-title">SIGN UP</h2>
          <input type="text" placeholder="First name"/>
          <input type="text" placeholder="Last Name"/>
          <input type="text" placeholder="Email"/>
          <input type="text" placeholder="Username"/>
          <input type="password" placeholder="Password"/>
          <input type="password" placeholder="Confirm password"/>
          <button>login</button>
        </form>
      </div>
    </div>

  </div>
</div>
