<div class="col-md-12 col-lg-12">
  <div class="main-img">
    <div class="col-md-4 col-md-offset-8 login-page">
      <div class="form">
        <form class="login-form" action='/login', method='post'>
          <% if session[:login_error] %>
            <p><%= session[:login_error] %></p>
          <% end %>

          <input type="text" name="username" placeholder="Username"/>
          <input type="password" name="password" placeholder="Password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="/signup/form">Create an account</a></p>
        </form>
      </div>
    </div>
  </div>
</div>


