<header class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Log In</h1>
  </div>
</header>

<% if session[:login_error] %>
  <p><%= session[:login_error] %></p>
<% end %>

<div class="login-page">
  <div class="form">
    <form class="login-form" action='/login', method='post'>
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>