<meta http-equiv="refresh" content="3;url=/" />

<div class="redirection-img">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-m-4 col-m-offset-4">
      <div class="redirect-message">
        <h3>YOUR ACCOUNT HAS BEEN CREATED!</h3>
        <h3>REDIRECTING TO LOGIN PAGE</h3>
      </div>
    </div>
  </div>
</div>